.image-height {
  border-radius: 15px !important;
  object-fit: contain;
}
.timer {
  text-align: center;
  display: flex;
  justify-content: center;
}
.subtimer {
  background-color: gray;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.subtimer h1,
h2 {
  margin: 8px;
  font-weight: bold;
  color: white;
  font-size: 42px;
}
button {
  padding: 10px 15px;
  font-weight: bold;
}
body {
  background-color: black;
}
.tik {
  color: white;
}
td {
  height: 100px;
  width: 100px;
  color: yellow;
  font-size: 42px;
  text-align: center;
  border: 2px solid white;
}
.tac {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 80px;
}
